.about_header {
	text-align: left;
}

.about_header2 {
	text-align: right;
}

.about_font {
	color: white;
	font-weight: 100;
	font-size: 50px;
}

.about_font2 {
	color: white;
	font-weight: 100;
	font-size: 35px;
}

.about {
	max-width: 900px;
	margin: 0 auto;
	width: 100%; 
}

.about_card {
	margin-bottom: 50px;
}

.aboutfull {
	background-image: url(images/bg1.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}