.about {
	max-width: 900px;
	margin: 0 auto;
	width: 100%; 
}

.about_card {
	margin-bottom: 50px;
}

.aboutfull {
	background-image: url(images/bg1.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}