.herofull {
  min-height: 100vh;
  display: grid;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #464646;
}

.hero-intro {
  font-size: 20px;
  margin-bottom: 0;
  color: white;
  font-weight: 300;
}

.hero-name {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 50px;
  color: white;
}

.hero-subtitle {
  font-size: 30px;
  margin-bottom: 50px;
  color: white;
  font-weight: 300;
}

.hero-arrow {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
  color: white;
  opacity: 0.8;
  font-weight: 300;
}

.hero-arrow:hover {
  opacity: 1;
  color: white;
  text-shadow: 0 0 5px silver;
  transition: opacity 0.25s linear, text-shadow 0.25s linear;
}

.contact-link {
  font-size: 40px;
  position: relative;
  bottom: 5px;
  padding-left: 5px;
  color: white;
  opacity: 0.7;
  font-weight: 300;
}

.hero-dot {
  font-size: 40px;
  position: relative;
  bottom: 5px;
  padding-left: 5px;
  color: white;
  opacity: 0.7;
  font-weight: 300;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
}

.contact-link:hover {
  opacity: 1;
  color: white;
  text-shadow: 0 0 5px silver;
  transition: opacity 0.25s linear, text-shadow 0.25s linear;
}

@media only screen and (max-width: 767px) {
  .contact-text {
    display: none;
  }
  .hero-icon {
    padding-left: 2px;
  }
}

@media (pointer: coarse) {
  .herofull {
    background-attachment: initial !important;
  }
}

@media only screen and (max-width: 1024px) and (max-resolution: 191dpi) {
  .herofull {
    background-image: url(images/bg-hero-1024.jpg);
  }
}

@media only screen and (max-width: 1024px) and (min-resolution: 192dpi) {
  .herofull {
    background-image: url(images/bg-hero-1920.jpg);
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1600px) and (max-resolution: 191dpi) {
  .herofull {
    background-image: url(images/bg-hero-1600.jpg);
  }
}

@media only screen and (min-width: 1601px) and (max-width: 1920px) and (max-resolution: 191dpi) {
  .herofull {
    background-image: url(images/bg-hero-1920.jpg);
  }
}

@media only screen and (min-width: 1025px) and (min-resolution: 192dpi),
  screen and (min-width: 1921px) {
  .herofull {
    background-image: url(images/bg-hero-3200.jpg);
  }
}
