.navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  vertical-align: initial;
  margin: 0;
  padding: 0;
  z-index: 9;
  color: #fff;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  position: fixed;
  height: 44px;
}

.nav-item {
  margin-right: 24px;
}

.nav-title {
  font-size: 20px;
  font-weight: 500;
  margin-left: 30px;
  text-shadow: 0 0 5px #000;
  color: #fff;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 44px;
  background: #333;
  overflow: hidden;
  transition: height 0.3s ease-out;
  text-align: left;
  z-index: 10;
}

.mobile-menu-hidden {
  display: none;
}

.mobile-menu-link {
  padding: 12px 20px;
  font-size: 12pt;
  cursor: pointer;
  transition: color 0.5s;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .mobile-menu-toggle {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .desktop-menu {
    display: none;
  }
}
