.portfolio-header {
	text-align: left;
	color: white;
	font-weight: 300;
	font-size: 50px;
}

.portfolio-header2 {
	padding-top: 15px;
	text-align: right;
	color: white;
	font-weight: 300;
	font-size: 35px;
}

.portfolio {
	max-width: 900px;
	margin: 0 auto;
	width: 100%; 
}

.portfoliofull {
	background-color: #282828;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media only screen and (min-width: 768px) {
	.portfoliofull {
		background-attachment: fixed;
		background-image: url(images/bg9-small.jpg);
	}
}

@media only screen and (max-width: 767px) {
	.portfolio-description {
		display: none;
	}
	.portfoliofull {
	    background-attachment: initial;
	    background-image: url(images/bg5-small.jpg);
	}
}