.portfolio-header {
	text-align: left;
	color: white;
	font-weight: 100;
	font-size: 50px;
}

.portfolio-header2 {
	text-align: right;
	color: white;
	font-weight: 100;
	font-size: 35px;
}

.portfolio {
	max-width: 900px;
	margin: 0 auto;
	width: 100%; 
}

.portfoliofull {
	background-image: url(images/bg2.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}