.project-card {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid white;
  padding: 0px 10px;
}

.project-title {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  font-size: 20px;
  color: white !important;
}

.project-title a {
  font-weight: 300;
  font-size: 36px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
}

.project-screenshotbox {
  padding: 20px 0px;
}

.project-button {
  margin: 0 2px;
}

.project-screenshot {
  width: 90%;
  height: auto;
  margin: 10px 0;
  border: 5px solid white;
  border: 5px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 8px dimgrey;
  margin: 0 auto;
  transition: box-shadow 0.5s linear;
}

.project-info {
  display: block;
  padding-top: 20px;
  color: white;
  font-weight: 300;
  font-size: 17px;
}

.project-screenshot:hover {
  box-shadow: 0 0 15px white;
  transition: box-shadow 0.5s linear;
}
