@media only screen and (max-width: 767px) {
	.skills-title {
		border-bottom: 1px solid white;
		font-size: 25px;
	}
	.skills-details {
		font-size: 20px; 
		padding: 10px;
	}
}

@media only screen and (min-width: 768px) {
	.skills-title {
		font-size: 23px;
		border-right: 1px solid white;
	}
	.skills-details {
		font-size: 30px;
	}
	.skills-list {
		width: 70%;
		margin: 0 auto;
	}
}

.skills-card {
  margin-bottom: 20px;
  background-color: rgba(0,0,0,0.8);
  border: 1px solid white;
  padding: 5px;
}

.skills-title {
  font-weight: 300;
  color: white;
  padding: 5px;
}

.skills-details {
	color: white;
	font-weight: 300;
}