@media only screen and (max-width: 767px) {
	.skills-title {
		border-bottom: 1px solid white;
		font-size: 25px;
	}
	.skills-details {
		font-size: 20px;
	}
}

@media only screen and (min-width: 768px) {
	.skills-title {
		font-size: 23px;
		border-right: 1px solid white;
	}
	.skills-details {
		font-size: 30px;
	}
	.skills-list {
		width: 70%;
		margin: 0 auto;
	}
}

.skills-card {
  margin-bottom: 20px;
  background-color: rgba(0,0,0,0.8);
  border: 1px solid white;
  padding: 5px;
}

.skills-title {
  font-weight: 100;
  color: white;
  padding: 10px;
}

.skills-details {
	color: white;
	font-weight: 100;
}

.skills-header {
	text-align: left;
	color: white;
	font-weight: 100;
	font-size: 50px;
}
.skills-header2 {
	text-align: right;
	color: white;
	font-weight: 100;
	font-size: 35px;
}

.skills {
	max-width: 900px;
	margin: 0 auto;
	width: 100%; 
}

.skillsfull {
	background-image: url(images/bg2.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}