@media only screen and (max-width: 767px) {
	.skills_title {
		border-bottom: 1px solid white;
		font-size: 25px;
	}
	.skills_details {
		font-size: 20px;
	}
}

@media only screen and (min-width: 768px) {
	.skills_title {
		font-size: 23px;
	}
	.skills_details {
		font-size: 35px;
	}
	.skills_list {
		width: 70%;
		margin: 0 auto;
	}
}

.skills_card {
  margin-bottom: 20px;
  background-color: rgba(0,0,0,0.8);
  border: 1px solid white;
  padding: 5px;
}

.skills_title {
  border-right: 1px solid white;
  font-weight: 100;
  color: white;
}

.skills_details {
	color: white;
	font-weight: 100;
}

.skills_header {
	text-align: left;
}
.skills_header2 {
	text-align: right;
}

.skills_font {
	color: white;
	font-weight: 100;
	font-size: 50px;
}

.skills_font2 {
	color: white;
	font-weight: 100;
	font-size: 35px;
}

.skills {
	max-width: 900px;
	margin: 0 auto;
	width: 100%; 
}

.skillsfull {
	background-image: url(images/bg5.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}