@media only screen and (min-height: 350px) {
	.TopContent {
	  height: 90vh;
	}
}

@media only screen and (max-width: 767px) {
	.contact_link {
	    display: none;
	}
	.icon_pad {
		padding-left: 10px;
	}

}

.preheader {
	font-size: 20px;
	margin-bottom: 0;
}

.header {
	font-size: 50px;
	margin-bottom: 50px;
}

.postheader {
	font-size: 30px;
	margin-bottom: 50px;
}
.center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.contact_link {
	font-size: 40px;
    vertical-align: middle;
    position: relative;
    bottom: 5px;
    padding-left: 5px;
    color: rgb(89, 89, 89);
    opacity: 0.7;
}

.contact_link:hover {
	opacity: 1;
	color: rgb(89, 89, 89);
	text-shadow: 0 0 5px silver;
	transition: opacity 0.25s linear, text-shadow 0.25s linear;
}

.padright {
	padding-right: 10px;
}