@import '~antd/dist/antd.css';

.app {
  text-align: center;
}

:target:before {
  display: block; 
  content: ""; 
  height: 44px; 
  margin-top: -44px;
  visibility: hidden; 
  pointer-events: none;
}