@import url("https://fonts.googleapis.com/css?family=Lato:300,600");

* {
  box-sizing: border-box;
  font-display: swap;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none !important;
}

a:hover {
  opacity: 1;
  text-shadow: 0 0 5px silver;
  transition: opacity 0.25s linear, text-shadow 0.25s linear;
}

:target:before {
  display: block;
  content: "";
  height: 44px;
  margin-top: -44px;
  visibility: hidden;
  pointer-events: none;
}
